# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# SQLite
db.sqlite3

# VS Code
.vscode/

# macOS
.DS_Store

# Environment
.env

# Test cache
.pytest_cache/

# Coverage
htmlcov/
.coverage